.logo_gold {
    width: 100%;
    img {
        width: auto;
        height: auto;
        object-fit: cover;
        margin-left: 15px;
    }
}

mat-toolbar {
    position: sticky;
    z-index: 2;
    top: 0;
    background: var(--color-primary-contrast);
}

.sign_btn {
    button {
        background: var(--main-color);
        color: var( --color-primary-contrast);
        padding: 3px;
        width: 100px;
        mat-icon {
            font-size: 20px;
        }
    }
}
