<mat-toolbar class="mat-elevation-z2 sticky-top">
    <mat-toolbar-row>
        <button mat-icon-button (click)="triggerToggle()">
        <mat-icon>menu</mat-icon>
        </button>
        <div class="logo_gold">
            <span>
          <img src="assets/images/logo.png">
        </span>
        </div>
        <div class="sign_btn">
            <button mat-flat-button color="primary" routerLink="/login" (click)="logout()">Sign out <mat-icon>logout</mat-icon></button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>