<div class="px-3 pt-3" *ngIf="showFilter">
    <mat-form-field class="w-100" appearance="fill">
        <mat-label>Search</mat-label>
        <mat-icon matPrefix>search</mat-icon>
        <input matInput type="text" (keyup)="onFilterData($event)" placeholder="Enter search keyword" />
    </mat-form-field>
</div>
<div class="table-responsive">
    <table mat-table #table [dataSource]="dataSource" class="w-100 rounded-3 mat-elevation-z8">
        <!-- Image column template [OPTIONAL]-->
        <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let rowObject">
                <ng-container *ngTemplateOutlet="imageTemplate; context: { $implicit: rowObject }"></ng-container>
            </td>
        </ng-container>

        <!-- Dynamic column template -->
        <ng-container *ngFor="let column of columnHeaders" [matColumnDef]="column.columnProperty">
            <th mat-header-cell *matHeaderCellDef>
                {{ column.columnName | titlecase }}
            </th>
            <td mat-cell *matCellDef="let rowObject" class="text-capitalize">
                <ng-container *ngTemplateOutlet="
            column.columnTemplate ? column.columnTemplate : defaultTemplate;
            context: { row: rowObject, col: column }
          "></ng-container>
            </td>
        </ng-container>

        <!-- Menu column template [OPTIONAL] -->
        <ng-container matColumnDef="menu" stickyEnd>
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let rowObject">
                <button mat-icon-button aria-label="menu button" [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
                <mat-menu #menu="matMenu">
                    <ng-container *ngTemplateOutlet="
              menuDropdownTemplate;
              context: { $implicit: rowObject }
            "></ng-container>
                </mat-menu>
            </td>
        </ng-container>

        <!-- Row defination -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Row shown when there is no matching data -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell text-center" colspan="10">No data available</td>
        </tr>
    </table>
</div>
<mat-paginator [pageSize]="itemsPerPage" [length]="totalPageItems" *ngIf="showPagination"></mat-paginator>

<ng-template #defaultTemplate let-rowValue="row" let-colValue="col">
    <p *ngIf="colValue.columnProperty === 'date'">{{rowValue[colValue.columnProperty] | date: "MMM d, y, h:mm a"}}</p>
    <p *ngIf="colValue.columnProperty === 'amount'">₹ {{rowValue[colValue.columnProperty]}}</p>
    <p *ngIf="colValue.columnProperty != 'amount' && colValue.columnProperty != 'date'">{{rowValue[colValue.columnProperty]}}</p>
</ng-template>
