@import '~@angular/material/theming';
table {
    border-collapse: separate;
    th.mat-header-cell {
        padding: 10px;
    }
    tr.mat-row {
        td.mat-cell {
            max-width: 200px;
            font-size: 0.8rem;
            padding: 10px;
            img {
                width: 40px;
                height: 40px;
                object-fit: cover;
                display: block;
                min-width: 40px;
                min-height: 40px;
                margin: 0 auto;
            }
            &.mat-column-menu {
                width: 40px;
            }
            &:first-of-type {
                padding-left: 24px;
            }
            &:last-of-type:not(.mat-column-menu) {
                padding-right: 24px;
            }
            &.mat-table-sticky-border-elem-right {
                border-left: 1px solid rgba(0, 0, 0, 0.12);
                right: -1px !important;
            }
        }
        &:last-child {
            td.mat-cell {
                border-bottom: none;
            }
        }
    }
}

mat-form-field mat-icon {
    color: mat-color($mat-grey, 600);
}

.latest-user-list {
    table tbody td.mat-cell.mat-column-name {
        font-weight: 500;
    }
}

.abuse-report-table {
    table tbody td.mat-cell {
        &.mat-column-creationDate {
            min-width: 120px;
        }
        &.mat-column-message {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}
