.footer_card {
    padding: 5px;
    text-align: center;
    background: #333;
    border-radius: 0 0 5px 5px;
    p {
        padding-top: 16px;
        font-size: 12px;
        color: #fadf98;
    }
}
