mat-dialog-content .mat-form-field {
    width: 100%;
}

.gander_sd {
    margin-top: -10px;
}

mat-form-field {
    width: 100%;
}

mat-dialog-actions {
    padding-bottom: 25px;
    button {
        width: 100px;
    }
    .wht {
        color: #fff;
        background: #1abe02 !important;
    }
}