<div mat-dialog-title class="d-flex justify-content-between align-items-center">
    <h2 class="m-0 modal-header-text">Create sub</h2>
    <button mat-icon-button mat-dialog-close id="matDialogClose">
<mat-icon>close</mat-icon>
</button>
</div>
<form class="example-form">
    <mat-dialog-content>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>User name</mat-label>
                <input matInput #input required placeholder="Enter service name" />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Location </mat-label>
                <input matInput #input required placeholder="Enter location" />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Phone </mat-label>
                <input matInput #input required placeholder="Enter phone" />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Email </mat-label>
                <input matInput #input required placeholder="Enter email" />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <textarea matInput required placeholder="Enter description"></textarea>
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close type="button">Cancel</button>
        <button mat-flat-button color="primary" class="global_btnColor" type="submit">
  Save
</button>
    </mat-dialog-actions>
</form>