mat-sidenav-content,
mat-sidenav-container {
    background-color: var(--main-color-3);
    min-height: 100%;
    padding-top: 15px;
    mat-sidenav {
        width: 310px;
        margin-top: 0px;
        box-shadow: 0 8px 24px rgba(229, 228, 230, 0.4);
        background: #fff;
        border-right: 1px solid #eaedf1;
    }
}
