<app-header (onToggle)="sidenav.toggle()"></app-header>

<mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation" autoFocus="false" fixedInViewport [opened]="isSidebarOpened" [fixedTopGap]="topSidebarGap" [mode]="sidenavMode" autosize>
        <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content role="main">
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
