.dashboard_card {
    background: #FFF;
    padding: 15px;
    min-height: 85vh;
    border-radius: 5px 5px 0 0;
    .mat-header-cell{
        font-weight: 700;
        font-size: 13px;
        letter-spacing: .5px;
    }
    mat-cell{
        font-size: var( --font-size-x-small);
        color: rgba(0, 0, 0, 0.54);
    }
    .text_sub {
        margin-bottom: 22px;
        h3 {
            font-weight: 500;
            font-size: var( --font-size-large);
            color: var(--color-primary-tint);
        }
    }
    .top_section_dash {
        .create_data {
            button {
                background: var(--main-color);
                color: var( --color-primary-contrast);
                padding: 3px;
                width: 100px;
                mat-icon {
                    font-size: var(--font-size-max);
                }
            }
        }
        mat-form-field {
            width: 100%;
        }
        .settings_rg {
            text-align: center;
            background: #ffe1e1;
            width: 50px;
            height: 50px;
            border-radius: var(--gs-radius-full);
            padding-top: 13px;
            margin-left: 1px;
            float: right;
            mat-icon {
                color: var(--main-color);
            }
        }
    }
    mat-cell {
        mat-icon {
            font-size: var(--font-size-medium);
            float: right;
        }
    }
    .edip_ {
        mat-header-cell {
            display: flex;
            flex: 0 0 60px;
            justify-content: end;
        }
        mat-cell {
            display: flex;
            flex: 0 0 60px;
            justify-content: end;
        }
    }
    .delp_ {
        mat-header-cell {
            display: flex;
            flex: 0 0 50px;
            justify-content: end;
        }
        mat-cell {
            display: flex;
            flex: 0 0 50px;
            justify-content: end;
        }
    }
    .viewP_ {
        mat-header-cell {
            display: flex;
            flex: 0 0 65px;
            justify-content: end;
        }
        mat-cell {
            display: flex;
            flex: 0 0 65px;
            justify-content: end;
        }
    }
}
