<div class="dashboard_card">
	<div class="text_sub border-bottom">
		<h3>Employee</h3>
	</div>
	<div class="top_section_dash">
		<div class="row">
			<div class="col-sm-4">
				<div class="create_data">
					<button mat-flat-button color="primary" routerLink="/create-employee">
						<mat-icon>add</mat-icon>Create</button>
				</div>
			</div>
			<div class="col-sm-5">
				<div class="search_data">
					<mat-form-field appearance="outline">
						<mat-label>Search</mat-label>
						<input matInput #input required placeholder="Search" autocomplete="off" />
						<button mat-icon-button matSuffix type="button">
							<mat-icon>search</mat-icon>
						</button>
					</mat-form-field>
				</div>
			</div>
			<div class="col-sm-2">
				<div>
					<mat-form-field appearance="fill">
						<mat-label>Select One</mat-label>
						<mat-select>
							<mat-option value="option1">Print</mat-option>
							<mat-option value="option2">Import</mat-option>
							<mat-option value="option1">Export</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</div>
			<div class="col-sm-1">
				<div class="settings_rg">
					<mat-icon>settings</mat-icon>
				</div>
			</div>
		</div>
		<div class="dat_table_section">
			<mat-table #table [dataSource]="tableData" matSort>
				<ng-container matColumnDef="Designaion">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Designaion</mat-header-cell>
					<mat-cell *matCellDef="let element">{{element.Designaion}}</mat-cell>
				</ng-container>
				<ng-container matColumnDef="Name">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
					<mat-cell *matCellDef="let element">{{element.Name}}</mat-cell>
				</ng-container>
				<ng-container matColumnDef="phone">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Phone No</mat-header-cell>
					<mat-cell *matCellDef="let element">{{element.phone}}</mat-cell>
				</ng-container>
				<ng-container matColumnDef="email">
					<mat-header-cell *matHeaderCellDef mat-sort-header style="flex: 0 0 200px; justify-content: start;margin-right: 10px;">E-mail ID</mat-header-cell>
					<mat-cell *matCellDef="let element" style="flex: 0 0 200px; justify-content: start; margin-right: 10px;">{{element.email}}</mat-cell>
				</ng-container>
				<ng-container matColumnDef="pin">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Pin</mat-header-cell>
					<mat-cell *matCellDef="let element">{{element.pin}}</mat-cell>
				</ng-container>
				<ng-container matColumnDef="dob">
					<mat-header-cell *matHeaderCellDef mat-sort-header>DOB</mat-header-cell>
					<mat-cell *matCellDef="let element">{{element.dob}}</mat-cell>
				</ng-container>
				<ng-container matColumnDef="edit">
					<mat-header-cell *matHeaderCellDef mat-sort-header style="flex: 0 0 60px; justify-content: end;">Edit</mat-header-cell>
					<mat-cell *matCellDef="let element" style="flex: 0 0 60px; justify-content: end;" routerLink="/edit-employee">
						<button mat-icon-button matTooltip="Click to Edit" class="iconbutton" color="primary">
							<mat-icon>edit</mat-icon>
						</button>
					</mat-cell>
				</ng-container>
				<ng-container matColumnDef="delete">
					<mat-header-cell *matHeaderCellDef mat-sort-header style="flex: 0 0 50px;justify-content: end;">Delete</mat-header-cell>
					<mat-cell *matCellDef="let element" style="flex: 0 0 50px; justify-content: end;">
						<button mat-icon-button matTooltip="Click to Delete" class="iconbutton" color="warn">
							<mat-icon>delete</mat-icon>
						</button>
					</mat-cell>
				</ng-container>
				<ng-container matColumnDef="view">
					<mat-header-cell *matHeaderCellDef mat-sort-header style="flex: 0 0 65px; justify-content: end;">View</mat-header-cell>
					<mat-cell *matCellDef="let element" style="flex: 0 0 65px; justify-content: end;" routerLink="/view-employee">
						<button mat-icon-button matTooltip="Click to View" class="iconbutton" color="primary">
							<mat-icon>visibility</mat-icon>
						</button>
					</mat-cell>
				</ng-container>
				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
			</mat-table>
			<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
		</div>
	</div>
</div>
<app-footer></app-footer>