.list-group {
    button {
        padding:10px 5px 10px 15px;
        border-radius: 0px;
        border-right: none;
        font-size: var(--font-size-x-small);
        color: #212b39;
        font-weight: 500;
    }
    mat-icon {
        font-size: var(--font-size-medium);
        position: relative;
        top: 4px;
        margin-right: 8px;
        color: #6c6c6c;
    }
    span {
        float: right;
    }
    .user_side {
        padding-top: 32px;
        padding-bottom: 20px;
        .user_img {
            text-align: center;
            img {
                width: 100px;
                height: 100px;
                border-radius: var(--gs-radius-full);
                object-fit: cover;
                border: 1px solid #ddd;
            }
        }
        .user_heading_gold {
            text-align: center;
            padding-top: 10px;
            padding-left: 15px;
            padding-right: 15px;
            h3 {
                font-size: var(--font-size-small);
                font-weight: var(--font-weight-light);
                margin-bottom: 3px;
            }
            p {
                font-size: var(font-size-x-small);
                color: #403e3e;
                letter-spacing: 1.5px;
            }
        }
    }
    .sub_menu {
        button {
            font-size: 13px !important;
            width: 100%;
            text-align: left;
            padding: 10px 30px 10px 51px;
            font-weight: 500;
            color: #2c2d2d;
            // color: #2998cc !important;
            border-color: #ecffec;
            // border-right: 5px solid #2998cc !important;
            // mat-icon {
            //     // color: #2998cc !important;
            // }
        }
    }
}

.list-group-item.active {
    z-index: 2;
    color: var(--main-color) !important;
    background-color: var(--color-primary-contrast);
    border-color: #ecffec;
    border-right: 5px solid var(--main-color) !important;
    border-top-left-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
    font-weight: bold;
    mat-icon {
        color: var(--main-color) !important;
    }
}

.list-group-item {
    border: 1px solid rgba(0, 0, 0, 0.04) !important;
}
