<div class="list-group">
    <div class="user_side">
        <div class="user_img">
            <img src="https://media.istockphoto.com/photos/smiling-man-outdoors-in-the-city-picture-id1179420343?k=20&m=1179420343&s=612x612&w=0&h=G2UGMVSzAXGAQs3pFZpvWlHNRAzwPIWIVtSOxZHsEuc=">
        </div>
        <div class="user_heading_gold">
            <h3>Swarup Poddar</h3>
            <p>Group Details</p>
        </div>
    </div>
    <button type="button" class="list-group-item list-group-item-action" routerLink="/dashboard" routerLinkActive="active">
    <mat-icon>dashboard</mat-icon>Dashboard</button>
    <div class="side_bar_menu">
        <button type="button" class="list-group-item list-group-item-action" routerLinkActive="active" (click)="clickMenu(0)">
            <mat-icon>manage_accounts</mat-icon>Settings/Masters
            <span> <mat-icon *ngIf="!sideMenuBar[0]">chevron_right</mat-icon> <mat-icon *ngIf="sideMenuBar[0]">keyboard_arrow_down</mat-icon> </span>
        </button>
        <div class="sub_menu" *ngIf="sideMenuBar[0]">
            <button type="button" class="list-group-item" routerLinkActive="active" routerLink="/employee">
                <mat-icon>import_contacts</mat-icon> Employee</button>
                
            <button type="button" class="list-group-item" routerLinkActive="active" >
              <mat-icon>import_contacts</mat-icon>  User Management</button>
            
            <button type="button" class="list-group-item" routerLinkActive="active">
                <mat-icon>import_contacts</mat-icon> Customer</button>
            <button type="button" class="list-group-item" routerLinkActive="active">
                  <mat-icon>import_contacts</mat-icon> Material</button>
            <button type="button" class="list-group-item" routerLinkActive="active">
                    <mat-icon>import_contacts</mat-icon> Price</button>
            <button type="button" class="list-group-item" routerLinkActive="active">
                      <mat-icon>import_contacts</mat-icon> State</button>
            <button type="button" class="list-group-item" routerLinkActive="active">
                        <mat-icon>import_contacts</mat-icon> District</button>
            <button type="button" class="list-group-item" routerLinkActive="active">
                          <mat-icon>import_contacts</mat-icon> Block</button>
            <button type="button" class="list-group-item" routerLinkActive="active">
                            <mat-icon>import_contacts</mat-icon> Area</button>
            <button type="button" class="list-group-item" routerLinkActive="active">
                              <mat-icon>import_contacts</mat-icon> Transporter</button>
            <button type="button" class="list-group-item" routerLinkActive="active">
                                <mat-icon>import_contacts</mat-icon> Source</button>
            <button type="button" class="list-group-item" routerLinkActive="active">
                                  <mat-icon>import_contacts</mat-icon> Destination</button>
            <button type="button" class="list-group-item" routerLinkActive="active">
                                    <mat-icon>import_contacts</mat-icon> Competitor</button>
            <button type="button" class="list-group-item" routerLinkActive="active">
                                      <mat-icon>import_contacts</mat-icon> Depot/Branch</button>
        </div>
    </div>
    <div class="side_bar_menu">
        <button type="button" class="list-group-item list-group-item-action" routerLinkActive="active" (click)="clickMenu(1)">
            <mat-icon>receipt_long</mat-icon>Transaction <span> <mat-icon *ngIf="!sideMenuBar[1]">chevron_right</mat-icon> <mat-icon *ngIf="sideMenuBar[1]">keyboard_arrow_down</mat-icon> </span>
        </button>
        <div class="sub_menu" *ngIf="sideMenuBar[1]">
            <button type="button" class="list-group-item" routerLinkActive="active">
                  <mat-icon>import_contacts</mat-icon>  Order Booking</button>
            <button type="button" class="list-group-item" routerLinkActive="active">
                  <mat-icon>import_contacts</mat-icon> Order Processing</button>
        </div>
    </div>

    <div class="side_bar_menu">
        <button type="button" class="list-group-item list-group-item-action" routerLinkActive="active" (click)="clickMenu(2)">
          <mat-icon>flag</mat-icon>Reports <span> <mat-icon *ngIf="!sideMenuBar[2]">chevron_right</mat-icon> <mat-icon *ngIf="sideMenuBar[2]">keyboard_arrow_down</mat-icon> </span>
      </button>
        <div class="sub_menu" *ngIf="sideMenuBar[2]">
            <button type="button" class="list-group-item" routerLinkActive="active">
                <mat-icon>import_contacts</mat-icon>Pending Order</button>
            <button type="button" class="list-group-item" routerLinkActive="active">
                <mat-icon>import_contacts</mat-icon>Order on Hold</button>
            <button type="button" class="list-group-item" routerLinkActive="active">
                  <mat-icon>import_contacts</mat-icon>Cancel Order</button>
            <button type="button" class="list-group-item" routerLinkActive="active">
                    <mat-icon>import_contacts</mat-icon>Pending Despatch</button>
            <button type="button" class="list-group-item" routerLinkActive="active">
                      <mat-icon>import_contacts</mat-icon>Delivery Status</button>
            <button type="button" class="list-group-item" routerLinkActive="active">
                        <mat-icon>import_contacts</mat-icon>Sales Ledger</button>
            <button type="button" class="list-group-item" routerLinkActive="active">
                          <mat-icon>import_contacts</mat-icon>Statement of Accounts</button>
        </div>
    </div>

    <!--
    <button type="button" class="list-group-item list-group-item-action" routerLinkActive="active">
      <mat-icon>import_contacts</mat-icon>Reports </button>

    <button type="button" class="list-group-item list-group-item-action" routerLinkActive="active">
        <mat-icon>autorenew</mat-icon>Menu 4</button>

    <button type="button" class="list-group-item list-group-item-action" routerLinkActive="active">
          <mat-icon>dialpad</mat-icon>Menu 5</button>

    <button type="button" class="list-group-item list-group-item-action" routerLinkActive="active">
            <mat-icon>privacy_tip</mat-icon>Menu 6</button> -->
</div>
