<div class="black_tg_login">
    <div class="container">
        <div class="row">
            <div class="login_card_layout">
                <mat-card>
                    <div class="form-section">
                        <div class="header_login_content col-12">
                            <img src="assets/images/Gscl_logo.png">
                        </div>
                        <div class="consumer_bns_login">
                            <div class="logo_login">
                                <h3>Welcome to login</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and long established fact<br> that a reader will be distracted typesetting industry. </p>
                            </div>
                            <form class="example-form">
                                <mat-form-field appearance="outline" class="col-12">
                                    <mat-label>User name</mat-label>
                                    <input matInput type="text" placeholder="Enter your user name" />
                                    <mat-icon matPrefix class="change_color">person</mat-icon>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="col-12">
                                    <mat-label>Password</mat-label>
                                    <input matInput placeholder="Enter your password" />
                                    <mat-icon matPrefix class="change_color">lock</mat-icon>
                                    <button mat-icon-button matSuffix type="button">
                                        <mat-icon>visibility</mat-icon>
                                    </button>
                                </mat-form-field>
                                <div class="rem_chec">
                                    <mat-checkbox class="example-margin">Remember me</mat-checkbox>
                                </div>
                                <div class="login_button_row col-12">
                                    <button mat-flat-button text-color="white" color="primary" class="w-100" routerLink="/master-admin">LOGIN</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>
