.black_tg_login {
    background-color: var(--main-color-3);
    height: 100%;
    display: flex;
    justify-content: center;
    .header_login_content {
        text-align: center;
    }
    .login_card_layout {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        padding: 0 24px 0 24px;
        justify-content: center;
        margin: 0 auto;
        padding-top: 75px;
        mat-card {
            padding: 25px;
            .header_login_content {
                img {
                    height: 82px;
                    width: 105px;
                }
            }
            .change_color {
                color: var(--main-color) !important;
            }
            .login_button_row {
                button {
                    background: var(--main-color);
                    color: var( --color-primary-contrast);
                    padding: 3px;
                }
            }
            .logo_login {
                padding-top: 25px;
                padding-bottom: 12px;
                h3 {
                    font-size: var(--font-size-max);
                    color: var(--color-primary-tint);
                    font-weight: 500;
                    margin-bottom: 3px;
                }
                p {
                    font-size: 13px;
                    color: var(--color-primary-400);
                }
            }
        }
        .rem_chec {
            padding: 0px 0px 16px 3px;
            margin-top: -7px;
        }
    }
}
