<div class="create_new_frm">
	<div class="create_heading_text">
		<h3>Edit Employee</h3>
	</div>
	<div class="row justify-content-start">
		<div class="col-lg-10 col-sm-12">
			<mat-card>
				<div>
					<div class="row">
						<div class="col-md-4">
							<div>
								<mat-form-field appearance="outline">
									<mat-label>First Name</mat-label>
									<input matInput #input required />
								</mat-form-field>
							</div>
						</div>
						<div class="col-md-4">
							<div>
								<mat-form-field appearance="outline">
									<mat-label>Middle Name</mat-label>
									<input matInput #input />
								</mat-form-field>
							</div>
						</div>
						<div class="col-md-4">
							<div>
								<mat-form-field appearance="outline">
									<mat-label>Last Name</mat-label>
									<input matInput #input required />
								</mat-form-field>
							</div>
						</div>
					</div>
				</div>
				<!--//-->
				<div>
					<div class="row">
						<div class="col-md-4">
							<div>
								<mat-form-field appearance="fill">
									<mat-label>Gender</mat-label>
									<mat-select required>
										<mat-option value="option1">Male</mat-option>
										<mat-option value="option2">Female</mat-option>
										<mat-option value="option3">Transgender</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
						</div>
						<div class="col-md-4">
							<div>
								<mat-form-field appearance="outline">
									<mat-label>phone No</mat-label>
									<input matInput #input required />
								</mat-form-field>
							</div>
						</div>
						<div class="col-md-4">
							<div>
								<mat-form-field appearance="outline">
									<mat-label>Whatsapp No</mat-label>
									<input matInput #input />
								</mat-form-field>
							</div>
						</div>
					</div>
				</div>
				<!--//-->
				<div>
					<div class="row">
						<div class="col-md-4">
							<div>
								<mat-form-field appearance="outline">
									<mat-label>Email Id</mat-label>
									<input matInput #input required />
								</mat-form-field>
							</div>
						</div>
						<div class="col-md-4">
							<div>
								<mat-form-field appearance="outline">
									<mat-label>Address 1</mat-label>
									<input matInput #input required />
								</mat-form-field>
							</div>
						</div>
						<div class="col-md-4">
							<div>
								<mat-form-field appearance="outline">
									<mat-label>Address 2</mat-label>
									<input matInput #input />
								</mat-form-field>
							</div>
						</div>
					</div>
				</div>
				<!--//-->
				<div class="row">
					<div class="col-md-3">
						<div>
							<mat-form-field appearance="outline">
								<mat-label>Pin Code</mat-label>
								<input matInput #input required />
							</mat-form-field>
						</div>
					</div>
					<div class="col-md-3">
						<div>
							<mat-form-field appearance="outline">
								<mat-label>City</mat-label>
								<input matInput readonly disabled />
							</mat-form-field>
						</div>
					</div>
					<div class="col-md-3">
						<div>
							<mat-form-field appearance="outline">
								<mat-label>District</mat-label>
								<input matInput readonly disabled />
							</mat-form-field>
						</div>
					</div>
					<div class="col-md-3">
						<div>
							<mat-form-field appearance="outline">
								<mat-label>State</mat-label>
								<input matInput readonly disabled />
							</mat-form-field>
						</div>
					</div>
				</div>
				<!--//-->
				<div class="row">
					<div class="col-md-4">
						<mat-form-field appearance="outline">
							<mat-label>Company Name</mat-label>
							<input matInput #input />
						</mat-form-field>
					</div>
					<div class="col-md-4">
						<mat-form-field appearance="fill">
							<mat-label>Branch Name</mat-label>
							<mat-select>
								<mat-option value="option1">1997</mat-option>
								<mat-option value="option2">1998</mat-option>
								<mat-option value="option1">2000</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
					<div class="col-md-4">
						<mat-form-field appearance="fill">
							<mat-label>Division Name</mat-label>
							<mat-select>
								<mat-option value="option1">1997</mat-option>
								<mat-option value="option2">1998</mat-option>
								<mat-option value="option1">2000</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
				</div>
				<!--//-->
				<div class="mb-20">
					<mat-accordion>
						<mat-expansion-panel>
							<mat-expansion-panel-header>
								<mat-panel-title>Educational Qualification</mat-panel-title>
							</mat-expansion-panel-header>
							<div class="row">
								<div class="col-md-6">
									<div>
										<mat-form-field appearance="fill">
											<mat-label>Select your degree</mat-label>
											<mat-select>
												<mat-option value="option1">8 Pass</mat-option>
												<mat-option value="option2">10+</mat-option>
												<mat-option value="option1">10+2</mat-option>
												<mat-option value="option3">Bachelor Degree</mat-option>
												<mat-option value="option1">Master's Degree</mat-option>
												<mat-option value="option1">Phd</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3">
									<div>
										<mat-form-field appearance="fill">
											<mat-label>Year of Passing</mat-label>
											<mat-select>
												<mat-option value="option1">1997</mat-option>
												<mat-option value="option2">1998</mat-option>
												<mat-option value="option1">2000</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
								</div>
								<div class="col-md-3">
									<div>
										<mat-form-field appearance="outline">
											<mat-label>Subject's</mat-label>
											<input matInput #input />
										</mat-form-field>
									</div>
								</div>
								<div class="col-md-3">
									<div>
										<mat-form-field appearance="outline">
											<mat-label>Percentage (%)</mat-label>
											<input matInput #input />
										</mat-form-field>
									</div>
								</div>
								<div class="col-md-3">
									<div>
										<mat-form-field appearance="outline">
											<mat-label>Marks</mat-label>
											<input matInput #input />
										</mat-form-field>
									</div>
								</div>
							</div>
						</mat-expansion-panel>
					</mat-accordion>
				</div>
				<div class="mb-20">
					<mat-accordion>
						<mat-expansion-panel>
							<mat-expansion-panel-header>
								<mat-panel-title>Personal Info</mat-panel-title>
							</mat-expansion-panel-header>
							<div class="row">
								<div class="col-md-3">
									<div>
										<mat-form-field appearance="fill">
											<mat-label>Maritial Status</mat-label>
											<mat-select>
												<mat-option value="option1">Single</mat-option>
												<mat-option value="option2">Married</mat-option>
												<mat-option value="option1">Widow</mat-option>
												<mat-option value="option3">Divorced</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
								</div>
								<div class="col-md-3">
									<div>
										<mat-form-field appearance="outline">
											<mat-label>Spouce Name</mat-label>
											<input matInput #input />
										</mat-form-field>
									</div>
								</div>
								<div class="col-md-3">
									<div>
										<mat-form-field appearance="fill">
											<mat-label>Date of Anniversary</mat-label>
											<input matInput [matDatepicker]="picker2">
											<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
											<mat-datepicker #picker2></mat-datepicker>
										</mat-form-field>
									</div>
								</div>
								<div class="col-md-3">
									<div>
										<mat-form-field appearance="outline">
											<mat-label>No of child.</mat-label>
											<input matInput #input />
										</mat-form-field>
									</div>
								</div>
							</div>
						</mat-expansion-panel>
					</mat-accordion>
				</div>
				<div class="mb-20">
					<mat-accordion>
						<mat-expansion-panel>
							<mat-expansion-panel-header>
								<mat-panel-title>Statutori Info</mat-panel-title>
							</mat-expansion-panel-header>
							<div class="row">
								<div class="col-md-4">
									<div>
										<mat-form-field appearance="fill">
											<mat-label>Designaion</mat-label>
											<mat-select>
												<mat-option value="option1">UI Designer</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
								</div>
								<div class="col-md-4">
									<div>
										<mat-form-field appearance="outline">
											<mat-label>SAP code</mat-label>
											<input matInput #input />
										</mat-form-field>
									</div>
								</div>
								<div class="col-md-4">
									<div>
										<mat-form-field appearance="fill">
											<mat-label>Reporting To</mat-label>
											<mat-select>
												<mat-option value="option1">xyz</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
								</div>
								<div class="col-md-4">
									<div>
										<mat-form-field appearance="outline">
											<mat-label>Provident Fund (PF No)</mat-label>
											<input matInput #input />
										</mat-form-field>
									</div>
								</div>
								<div class="col-md-4">
									<div>
										<mat-form-field appearance="outline">
											<mat-label>Family Penson Fund (FPF)</mat-label>
											<input matInput #input />
										</mat-form-field>
									</div>
								</div>
								<div class="col-md-4">
									<div>
										<mat-form-field appearance="outline">
											<mat-label>ESI No</mat-label>
											<input matInput #input />
										</mat-form-field>
									</div>
								</div>
								<div class="col-md-4">
									<div>
										<mat-form-field appearance="outline">
											<mat-label>Professional Tax (PTax)</mat-label>
											<input matInput #input />
										</mat-form-field>
									</div>
								</div>
								<div class="col-md-4">
									<div>
										<mat-form-field appearance="fill">
											<mat-label>Last Date of Services</mat-label>
											<input matInput [matDatepicker]="picker">
											<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
											<mat-datepicker #picker></mat-datepicker>
										</mat-form-field>
									</div>
								</div>
								<div class="col-md-4">
									<div>
										<mat-form-field appearance="fill">
											<mat-label>DOB</mat-label>
											<input matInput [matDatepicker]="picker1">
											<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
											<mat-datepicker #picker1></mat-datepicker>
										</mat-form-field>
									</div>
								</div>
							</div>
						</mat-expansion-panel>
					</mat-accordion>
				</div>
				<div class="mb-20">
					<mat-accordion>
						<mat-expansion-panel>
							<mat-expansion-panel-header>
								<mat-panel-title>Uplaod Images</mat-panel-title>
							</mat-expansion-panel-header>
							<div class="row">
								<div class="col-md-5">
									<div>
										<mat-form-field appearance="outline">
											<mat-label>Addher Card</mat-label>
											<input matInput #input />
										</mat-form-field>
									</div>
								</div>
								<div class="col-md-4">
									<div class="card p-2">
										<p>Upload Addher:</p>
										<input type="file" name="filename2">
									</div>
								</div>
								<div class="col-md-3">
									<div>
										<img src="assets/images/Gscl_logo.png" width="100" class="img-thumbnail mb-3" alt="">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-5">
									<div>
										<mat-form-field appearance="outline">
											<mat-label>Pan No</mat-label>
											<input matInput #input />
										</mat-form-field>
									</div>
								</div>
								<div class="col-md-4">
									<div class="card p-2">
										<p>Upload Pan:</p>
										<input type="file" name="filename2">
									</div>
								</div>
								<div class="col-md-3">
									<div>
										<img src="assets/images/Gscl_logo.png" width="100" class="img-thumbnail mb-3" alt="">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div>
										<div class="card p-2">
											<p>Employee Photo Upload:</p>
											<input type="file" name="filename2">
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div>
										<img src="assets/images/Gscl_logo.png" width="100" class="img-thumbnail mb-3" alt="">
									</div>
								</div>
							</div>
						</mat-expansion-panel>
					</mat-accordion>
				</div>
				<div class="mb-20">
					<mat-accordion>
						<mat-expansion-panel>
							<mat-expansion-panel-header>
								<mat-panel-title>Bank Info</mat-panel-title>
							</mat-expansion-panel-header>
							<div class="row">
								<div class="col-md-6">
									<div>
										<mat-form-field appearance="outline">
											<mat-label>Bank IFSC</mat-label>
											<input matInput #input required />
										</mat-form-field>
									</div>
								</div>
								<div class="col-md-6">
									<div>
										<mat-form-field appearance="outline">
											<mat-label>Bank Name</mat-label>
											<input matInput #input readonly disabled />
										</mat-form-field>
									</div>
								</div>
								<div class="col-md-6">
									<div>
										<mat-form-field appearance="outline">
											<mat-label>Bank Branch</mat-label>
											<input matInput #input readonly disabled />
										</mat-form-field>
									</div>
								</div>
								<div class="col-md-6">
									<div>
										<mat-form-field appearance="outline">
											<mat-label>Bank A/C No</mat-label>
											<input matInput #input />
										</mat-form-field>
									</div>
								</div>
							</div>
						</mat-expansion-panel>
					</mat-accordion>
				</div>
				<div class="create_btn d-flex justify-content-end border-top">
					<button mat-flat-button color="primary" class="back_btn" routerLink="/employee">Back</button>
					<button mat-flat-button color="primary" class="sv_btn">Save</button>			
				  </div>
			</mat-card>
		</div>
	</div>
</div>