.logo_gold {
    width: 100%;
    img {
        width: auto;
        height: auto;
        object-fit: cover;
        margin-left: 15px;
    }
}

mat-toolbar {
    position: sticky;
    z-index: 2;
    top: 0;
    background: var(--color-primary-contrast);
}

.sign_btn {
    button {
        background: var(--main-color);
        color: var( --color-primary-contrast);
        padding: 3px;
        width: 100px;
        mat-icon {
            font-size: 20px;
        }
    }
}

.master_section {
    padding-top: 16%;
    padding-bottom: 13%;
    background-color: var(--main-color-3);
    .card_view {
        mat-card {
            padding-top: 32px;
            text-align: center;
            cursor: pointer;
            .master_img {
                margin-bottom: 20px;
                img {
                    width: 100px;
                    height: 100px;
                }
            }
            .master_heading {
                h3 {
                    font-size: 16px;
                    color: #fff;
                    font-weight: 400;
                    letter-spacing: 1.5px;
                    text-transform: uppercase;
                }
            }
        }
    }
    .bgSD {
        background: linear-gradient(to top, #29231f, #e1712c);
    }
    .lini_sd {
        background: #29231f;
    }
}
