<mat-toolbar class="mat-elevation-z2 sticky-top">
    <mat-toolbar-row>
        <div class="logo_gold">
            <span>
        <img src="assets/images/logo.png">
      </span>
        </div>
        <div class="sign_btn">
            <button mat-flat-button color="primary">Sign out <mat-icon>logout</mat-icon></button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>


<div class="master_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="card_view">
                    <mat-card class="lini_sd">
                        <div class="master_img">
                            <img src="assets/images/master.png">
                        </div>
                        <div class="master_heading">
                            <h3>Master/setting</h3>
                        </div>
                    </mat-card>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card_view" routerLink="/dashboard" (click)="goclick()">
                    <mat-card class="bgSD">
                        <div class="master_img">
                            <img src="assets/images/so_.png">
                        </div>
                        <div class="master_heading">
                            <h3>Sales order</h3>
                        </div>
                    </mat-card>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card_view">
                    <mat-card class="lini_sd">
                        <div class="master_img">
                            <img src="assets/images/logicsite_.png">
                        </div>
                        <div class="master_heading">
                            <h3>Logistic</h3>
                        </div>
                    </mat-card>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card_view">
                    <mat-card class="bgSD">
                        <div class="master_img">
                            <img src="assets/images/crm_.png">
                        </div>
                        <div class="master_heading">
                            <h3>CRM</h3>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>