.dashboard_card {
    .text_sub {
        margin-bottom: 22px;
        h3 {
            font-weight: var(--font-weight-bold);
            font-size: var( --font-size-large);
            color: var(--color-primary-tint);
        }
    }
    .top_section_dash {
        .create_data {
            button {
                background: var(--main-color);
                color: var( --color-primary-contrast);
                padding: 3px;
                width: 150px;
                mat-icon {
                    font-size: var(--font-size-max);
                }
            }
        }
        mat-form-field {
            width: 100%;
        }
        .settings_rg {
            text-align: center;
            background: #ffe1e1;
            width: 50px;
            height: 50px;
            border-radius: var(--gs-radius-full);
            padding-top: 13px;
            margin-left: 1px;
            float: right;
            mat-icon {
                color: var(--main-color);
                font-size: var(--font-size-x-large);
            }
        }
    }
    mat-cell {
        mat-icon {
            font-size: var(--font-size-medium);
            float: right;
        }
    }
    .edip_ {
        mat-header-cell {
            display: flex;
            flex: 0 0 60px;
            justify-content: end;
        }
        mat-cell {
            display: flex;
            flex: 0 0 60px;
            justify-content: end;
        }
    }
    .delp_ {
        mat-header-cell {
            display: flex;
            flex: 0 0 50px;
            justify-content: end;
        }
        mat-cell {
            display: flex;
            flex: 0 0 50px;
            justify-content: end;
        }
    }
    .viewP_ {
        mat-header-cell {
            display: flex;
            flex: 0 0 65px;
            justify-content: end;
        }
        mat-cell {
            display: flex;
            flex: 0 0 65px;
            justify-content: end;
        }
    }
}
