<div class="dashboard_card">
    <div class="text_sub border-bottom">
        <h3>Sub Menu 1</h3>
    </div>
    <div class="top_section_dash">
        <div class="row">
            <div class="col-sm-4">
                <div class="create_data">
                    <button mat-flat-button color="primary" routerLink="/create-new"><mat-icon>add</mat-icon> Create </button>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="search_data">
                    <mat-form-field appearance="outline">
                        <mat-label>Search</mat-label>
                        <input matInput #input required placeholder="Search" autocomplete="off" />
                        <button mat-icon-button matSuffix type="button">
        <mat-icon>search</mat-icon>
      </button>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-sm-2">
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Print</mat-label>
                        <mat-select name="food">
                            <mat-option>
                                Import
                            </mat-option>
                            <mat-option>
                                Export
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-sm-1">
                <div class="settings_rg">
                    <mat-icon>settings</mat-icon>
                </div>
            </div>
        </div>

        <div class="dat_table_section">
            <mat-table #table [dataSource]="tableData" matSort>
                <!-- First Column ID-->
                <ng-container matColumnDef="Name1">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Name1 </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.Name1}} </mat-cell>
                </ng-container>

                <!-- Second Column -->
                <ng-container matColumnDef="Name2">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Name2 </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.Name2}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Name3">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Name3 </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.Name3}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Name4">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Name4 </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.Name4}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Name5">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Name5 </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.Name5}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Name6">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Name6 </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.Name6}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Name7">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Name7 </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.Name7}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Name8">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Name8 </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.Name8}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="edit">
                    <mat-header-cell *matHeaderCellDef mat-sort-header style="flex: 0 0 60px; justify-content: end;"> Edit </mat-header-cell>
                    <mat-cell *matCellDef="let element" style="flex: 0 0 60px; justify-content: end;" routerLink="/edit-create-new"> <button mat-icon-button matTooltip="Click to Edit" class="iconbutton" color="primary">
                      <mat-icon>edit</mat-icon>
                    </button> </mat-cell>
                </ng-container>
                <ng-container matColumnDef="delete">
                    <mat-header-cell *matHeaderCellDef mat-sort-header style="flex: 0 0 50px;justify-content: end;"> Delete </mat-header-cell>
                    <mat-cell *matCellDef="let element" style="flex: 0 0 50px; justify-content: end;"> <button mat-icon-button matTooltip="Click to Delete" class="iconbutton" color="warn">
                      <mat-icon>delete</mat-icon>
                    </button> </mat-cell>
                </ng-container>
                <ng-container matColumnDef="view">
                    <mat-header-cell *matHeaderCellDef mat-sort-header style="flex: 0 0 65px; justify-content: end;"> View </mat-header-cell>
                    <mat-cell *matCellDef="let element" style="flex: 0 0 65px; justify-content: end;" routerLink="/view-create-new"> <button mat-icon-button matTooltip="Click to View" class="iconbutton" color="primary">
                        <mat-icon>visibility</mat-icon>
                      </button> </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

        </div>
    </div>
</div>
<app-footer></app-footer>
