.create_new_frm {
  margin-bottom: 20px;
  mat-form-field {
    width: 100%;
  }
  mat-expansion-panel-header{
    font-size: 14px;
  }
  .create_heading_text {
    h3 {
      font-size: 22px;
      font-weight: 500;
      margin-bottom: 20px;
    }
  }

  .create_btn {
    padding-top: 22px;

    button {
      margin-right: 10px;
      width: 100px;
    }
    .back_btn{
      background: var(--main-color);
    }
    .sv_btn {
      background-color: #3aa611;
    }
  }

  .mb-20 {
    margin-bottom: 20px;
  }


}
