// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$blacktiger-web-primary: mat-palette($mat-grey, 600);
$blacktiger-web-accent: mat-palette($mat-grey, 600);
// The warn palette is optional (defaults to red).
$blacktiger-web-warn: mat-palette($mat-red);
// Create the theme object (a Sass map containing all of the palettes).
$blacktiger-web-theme: mat-light-theme($blacktiger-web-primary, $blacktiger-web-accent, $blacktiger-web-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($blacktiger-web-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

body,
div,
dl,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
img,
ol,
p,
pre,
ul,
li {
    word-break: break-word;
    margin: 0;
    padding: 0;
    // font-family: CenturyGothic !important;
}

:root {
    --black: #000;
    --black-gs: rgba(0, 0, 0, 0.9);
    --black-gs2: rgba(0, 0, 0, 0.75);
    --black-gs3: rgba(0, 0, 0, 0.6);
    --black-gs4: rgba(0, 0, 0, 0.45);
    --black-gs5: rgba(0, 0, 0, 0.3);
    --black-gs6: rgba(0, 0, 0, 0.15);
    --black-gs7: rgba(0, 0, 0, 0.12);
    --main-color: #ed762d;
    --main-color-1: #ec9158;
    --main-color-2: #f3a371;
    --main-color-3: #fadf98;
    --main-color-4: #ffceaf;
    --main-color-5: #f3a371;
    --main-nt-4: #ed762d;
    --main-color-i-bg: #80db7c;
    --main-color-i-bg2: #dbbd7c;
    --main-color-i-bg3: #db7c7c;
    --btn-hover-color: #00ff00;
    --transparent: transparent;
    --color-primary-rgb: 255, 255, 255;
    --color-primary-contrast: #ffffff;
    --color-primary-contrast-rgb: 255, 255, 255;
    --color-primary-light-rgb: 94, 108, 132;
    --color-primary-scroll: #cfcfcf;
    --color-primary-shade: #3d3d3d;
    --color-primary-tint: #222;
    --color-primary-hit1: #ccc;
    --color-primary-black: #000;
    --color-primary-bl-gn: #202020;
    --color-primary-900: #9d9d9d;
    --color-primary-500: #4f4f4f;
    --color-primary-400: #333333;
    --color-primary-hit2: rgb(65, 65, 65);
    --color-box--shadow: rgba(0, 0, 0, 0.11);
    --color-primary-light: rgb(102, 102, 102);
    --bg-primary-light: rgba(241, 241, 241, 0.71);
    --bg-light-light: #f5f5f5;
    --bg-all-light: #f0f0f7;
    --bg-tig-light: rgb(238, 238, 238);
    --border-color-light-rgb: #f3f3f3;
    --border-color-dark-rgb: #e5e5e5;
    --border-color-sd-rgb: #ddd;
    --border-color-wht-rgb: rgb(255, 255, 255);
    --border-color-left-rgb: #1D2939;
    --font-size-xx-small: 10px;
    --font-size-dx-small: 12px;
    --font-size-x-small: 13px;
    --font-size-sm-xs: 15px;
    --font-size-small: 16px;
    --font-size-medium: 18px;
    --font-size-max: 20px;
    --font-size-large: 22px;
    --font-size-x-large: 26px;
    --font-size-vx-large: 30px;
    --font-size-display-small: 32px;
    --font-size-display-medium: 3.2rem;
    --font-size-display-large: 4.8rem;
    --font-size-display-x-large: 6.4rem;
    --font-weight-regular: 400;
    --font-weight-light: 500;
    --font-weight-bold: 600;
    --line-height-light: 42px;
    --line-height-drt: 38px;
    --line-height-pre: 34px;
    --line-height-default: 1.25;
    --line-height-open: 1.5;
    --line-height-down: 1.42857;
    --paragraph-spacing: 1.2rem;
    --gs-radius-x-small: 5px;
    --gs-radius-small: 10px;
    --gs-radius-medium: 15px;
    --gs-radius-xl-large: 50px;
    --gs-radius-large: 20px;
    --gs-radius-x-large: 15px;
    --gs-radius-full: 50%;
}

// @font-face {
//     font-family: CenturyGothic;
//     src: url(./assets/fonts/CenturyGothic.ttf) format('truetype');
// }

// a {
//     font-family: CenturyGothic !important;
// }

// .CenturyGothic {
//     font-family: CenturyGothic !important;
// }

input,
textarea {
    outline: none;
}

.btn-check:focus+.btn-danger,
.btn-danger:focus {
    color: var(--color-primary-contrast);
    background-color: var(--main-color);
    border-color: var(--main-color);
    box-shadow: none !important;
}

button {
    outline: none !important;
}

button:disabled {
    cursor: not-allowed !important;
    background: rgba(0, 0, 0, 0.12) !important;
    // color: #222 !important;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0 !important;
}

mat-card {
    outline: none;
    // cursor: pointer;
}

.example-form {
    .mat-form-field-appearance-outline .mat-form-field-label {
        margin-top: -0.1em !important;
        margin-left: 3px;
    }
}

textarea:focus,
input:focus {
    outline: none;
}

// p {
//     font-family: CenturyGothic !important;
// }

.mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
    padding: 0 0em !important;
}

// global button color
.global_btnColor {
    background-color: var(--main-color) !important;
    color: var(--color-primary-contrast) !important;
}

table th.mat-header-cell {
    padding: 10px 0px;
    font-size: var( --font-size-sm-xs);
    color: var(--color-primary-bl-gn);
}
